.goods_desc {
  background-color: #fff;
  margin-top: 0.96rem;
  padding: 0px 20px 50px 20px;
}

.goods_desc img {
  display: block;
  width: 100%;
  height: auto;
}
.my-textarea .mint-cell-wrapper{
  align-items: flex-start !important;
}
